#about {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 20px;
    z-index: 0;
  }
  
  .about-header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: 500;
    font-size: 48px;
    color: #ffffff;
    text-shadow: 2px 5px rgba(0, 0, 0, 0.10);
  }
  
  .about-description {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color: #b3cbff;
    font-size: 22px;
    text-align: center;
    max-width: 800px;
    padding-bottom: 50px;
  }
  
  @media only screen and (max-width: 800px) {
    #about {
      min-height: unset;
      padding-left: unset;
      padding-top: unset;
      margin: 0;
      align-items: center;
    }
  
    .about-header {
      margin: 0;
      font-size: 28px;
      font-weight: 500;
    }
  
    .about-description {
      font-size: 18px;
      max-width: unset;
      padding-bottom: 40px;
    }
  
  }
  