#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /*margin: auto;*/
    /*max-width: 1000px;*/
    padding-top: 50px;
  }
  
  .about-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: 300;
    font-size: 48px;
    color: #0d47a1
  }
  
  .about-description {
    color: #0d47a1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 22px;
    text-align: center;
    max-width: 600px;
    padding-bottom: 50px;
  }
  
  @media only screen and (max-width: 600px) {
    #about {
      min-height: unset;
      padding-left: unset;
      padding-top: unset;
      margin: 0;
      align-items: center;
    }
  
    .about-title {
      margin: 0;
      font-size: 28px;
    }
  
    .about-description {
      font-size: 18px;
      max-width: unset;
      padding-bottom: 40px;
    }
  
  }
  