#contact {
    margin-top: 50px;
    max-width: 1100px;
    min-height: 40vh;
}

.contact-header {
    width: 100%;
    margin-bottom: 30px;
}

.contact-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    text-align: center;
    color: #0d47a1;
    padding-top: 20px;
}


.contact-links {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(18px, 35px));
    grid-gap: 300px;
}

@media (max-width: 820px) {
    .contact-links {
      grid-template-columns: repeat(auto-fill, minmax(5px, 5px));
    }
  }


@media only screen and (max-width: 600px) {
    #contact {
        height: unset;
        padding-left: unset;
        padding-right: unset;
    }

  }
  
