.experience-header .experience-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    text-align: center;
    color: #0d47a1;
    margin-bottom: 30px;
    padding-top: 20px;
}

