.job-description li { 
    list-style-type:square;
    text-align: left; 
    color: #0d47a1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.joblist-job-title {
    color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 500px;
}

.joblist-duration {
    color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    font-weight: 500px;
}

.joblist-tabs {
    flex-grow: 1;
    display: flex;
    background-color: "theme.palette.background.paper";
    height: 300
}

.joblist-contents {
    margin-top: -15px;
}