ul {
    list-style: none;
    margin-left: -40px;
}

.experience-description li {
    position: relative;
    text-align: left;
    padding-left: 30px;
    padding-bottom: 16px;
    font-size: 18px;
  }

.experience-description li::before {
    content: "🜨  ";
    color:#000000;
}

.experience-roles {
    color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 500px;
}

.experience-time {
    color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    font-weight: 500px;
}

.experience-tabs {
    flex-grow: 1;
    display: flex;
    background-color: "theme.palette.background.paper";
    height: 300
}

.experience-contents {
    margin-top: -15px;
}

